################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Lista5/v16/ipch/AutoPCH/281acfc55b645cd1
/.vs/Lista5/v16/Browse.VC.opendb
